.section-info {
  width: 90%;
  max-width: 1140px;
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  background-color: #ffffff;

  .img {
    flex: 1 1 400px;
    img.audi {
      width: 100%;
      height: auto;
      border-radius: 16px;
      object-fit: cover;
    }
  }

  .text-rec {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .bp h1 {
      font-size: 36px;
      font-weight: 500;
      color: #333;
    }

    h2 {
      font-size: 28px;
      font-weight: 500;
      color: #555;
    }

    .all-text {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .cards {
        display: flex;
        flex: 1 1 45%;
        gap: 16px;
        align-items: flex-start;

        padding: 16px;
        border-radius: 12px;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 16px;
          width: 64px;
          height: 64px;
          background-color: #f9f9f9;
        }

        .mini-text h3 {
          font-size: 16px;
          margin: 0 0 4px 0;
        }

        .mini-text p {
          font-size: 14px;
          color: #666;
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .all-text {
      .cards {
        flex: 1 1 100%;
      }
    }
  }
}
