$primary: #4e73df;
$dark: #222;
$light: #fff;

.navbar {
	width: 100%;
	background: $primary;
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	.nav-container {
		width: 90%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo {
		color: $light;
		font-size: 26px;
		font-weight: bold;
	}

	.nav-links {
		list-style: none;
		display: flex;
		gap: 25px;

		li a {
			color: $light;
			font-size: 18px;
			text-decoration: none;
			transition: 0.3s;

			&:hover {
				color: darken($light, 20%);
			}
		}
	}

	// Hamburger button
	.menu-btn {
		display: none;
		cursor: pointer;

		.bar {
			width: 25px;
			height: 3px;
			background: $light;
			margin: 4px;
			transition: 0.4s;

			&.open {
				background: #ddd;
			}
		}
	}

	// Responsive
	@media (max-width: 768px) {
		.nav-links {
			position: absolute;
			top: 65px;
			left: -100%;
			background: $primary;
			width: 100%;
			height: 100vh;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 35px;
			transition: 0.4s;
		}

		.nav-links.active {
			left: 0;
		}

		.menu-btn {
			display: block;
		}
	}
}

img{
	width: 500px;
	height: 200px;
}